<script lang="ts" setup>
import { useOrderStore } from "@/stores/order";
import { useProductStore } from "@/stores/product";
import { useUserStore } from "@/stores/user";
import { ref, onMounted } from "vue";

const value = ref(0);
const productStore = useProductStore();
const OrderStore = useOrderStore();
const UserStore = useUserStore();
onMounted(async () => {
  await productStore.getProducts();
  await UserStore.getUsers();
});
</script>

<template>
  <v-navigation-drawer location="right" width="450">
    <v-card-text>List</v-card-text>
    <v-divider></v-divider>
    <v-card class="mx-auto">
      <v-table>
        <thead>
          <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Qty</th>
            <th class="text-center"></th>
            <th class="text-center">Total</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="item in OrderStore.OrderView" :key="item.productId">
            <td class="border-bt">
              <v-card variant="text" max-width="100" width="100">
                <p>{{ item.product?.name }}</p>
                <v-card-subtitle
                  >Price : {{ item.product?.price }}
                </v-card-subtitle>
              </v-card>
            </td>

            <td class="border-bt">
              <v-chip color="brown" text-color="white">
                {{ item.amount }}</v-chip
              >
            </td>

            <td class="border-bt">
              <tbody>
                <tr>
                  <v-btn
                    icon="mdi-plus-box "
                    variant="text"
                    size="small"
                    color="green"
                    @Click="OrderStore.addNewOrderItem(item.product!)"
                  ></v-btn>
                </tr>
                <tr>
                  <v-btn
                    icon="mdi-minus-box-outline"
                    variant="text"
                    size="small"
                    color="error"
                    @Click="OrderStore.RemoveOrderItem(item)"
                  ></v-btn>
                </tr>
              </tbody>
            </td>

            <td class="border-bt">
              <v-chip color="brown" text-color="white"
                >{{ item.total }} THB
              </v-chip>
            </td>

            <td class="border-bt">
              <v-btn
                icon="mdi-delete-forever "
                class="ml-2"
                variant="text"
                @Click="OrderStore.btnRemoveOrderItem(item)"
              ></v-btn>
            </td>
          </tr>
        </tbody>
      </v-table>
    </v-card>
    <v-container></v-container>

    <v-container>
      <v-row justify="end"
        ><v-col class="pa-0 mb-1"
          ><v-chip class="font-weight-bold">total</v-chip></v-col
        ><v-col cols="4" class="pa-0 text-right mr-5"
          ><v-chip class="font-weight-bold">270.00 ฿</v-chip></v-col
        ></v-row
      >
      <v-row justify="end"
        ><v-col class="pa-0 mb-1"
          ><v-chip class="text-medium-emphasis">Discount</v-chip></v-col
        ><v-col cols="4" class="pa-0 text-right mr-5"
          ><v-chip class="text-medium-emphasis">5.00 ฿</v-chip></v-col
        ></v-row
      >
      <v-row justify="end"
        ><v-col class="pa-0 mb-1 border-bt-line text-medium-emphasis"
          ><v-chip class="text-medium-emphasis">vat 7%</v-chip></v-col
        ><v-col cols="4" class="pa-0 mb-1 text-right mr-5 border-bt-line"
          ><v-chip class="text-medium-emphasis">19.25 ฿</v-chip></v-col
        ></v-row
      >
      <v-row justify="end"
        ><v-col class="pa-0 mb-1"
          ><v-chip class="text-medium-emphasis">Cash</v-chip></v-col
        ><v-col cols="4" class="pa-0 text-right mr-5"
          ><v-chip class="text-medium-emphasis">300.00 ฿</v-chip></v-col
        ></v-row
      >
      <v-row justify="end"
        ><v-col class="pa-0"
          ><v-chip class="font-weight-bold">change</v-chip></v-col
        ><v-col cols="4" class="pa-0 text-right mr-5"
          ><v-chip class="font-weight-bold">30.00 ฿</v-chip></v-col
        ></v-row
      >
      <!-- payment method -->
    </v-container>
    <v-chip
      class="mb-1 ml-1"
      variant="elevated"
      color="brown-darken-4"
      size="large"
      >Payment Method</v-chip
    >
    <v-layout class="overflow-visible" style="height: 56px">
      <v-bottom-navigation
        v-model="value"
        bg-color="brown-darken-4"
        mode="shift"
        grow
        color="white"
      >
        <v-btn>
          <v-icon icon="mdi-cash-multiple"></v-icon>

          <span>Cash</span>
        </v-btn>

        <v-btn>
          <v-icon icon="mdi-credit-card"></v-icon>

          <span>Credit Card</span>
        </v-btn>
        <v-btn>
          <v-icon icon="mdi-qrcode"></v-icon>

          <span>QRcode</span>
        </v-btn>
      </v-bottom-navigation>
    </v-layout>
    <v-btn
      color="brown-darken-4 mt-3"
      height="50"
      width="100%"
      @Click="OrderStore.dialog = true"
      >Print Bill</v-btn
    >
  </v-navigation-drawer>
</template>
