<script lang="ts" setup>
import { useOrderStore } from "@/stores/order";
import { useProductStore } from "@/stores/product";
import { useUserStore } from "@/stores/user";
import { onMounted } from "vue";
import { ref } from "vue";
import ListOrder from "./ListOrder.vue";

const tab = ref(null);
const value = ref(0);
const productStore = useProductStore();
const OrderStore = useOrderStore();
const UserStore = useUserStore();
onMounted(async () => {
  await productStore.getProducts();
  await UserStore.getUsers();
});
</script>

<template>
  <!-- tab -->
  <v-container>
    <v-row>
      <v-spacer></v-spacer>
      <v-col cols="5"
        ><v-text-field label="Search" dense flat></v-text-field>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <v-card
          ><v-tabs v-model="tab" bg-color="white" grow>
            <v-tab :value="1"><h3>Drinks</h3></v-tab>
            <v-tab :value="2"><h3>Foods</h3></v-tab>
            <v-tab :value="3"><h3>Bakery</h3></v-tab>
          </v-tabs></v-card
        >
      </v-col>
    </v-row>

    <!-- Menu Window -->
    <v-row>
      <v-col>
        <v-window v-model="tab">
          <v-window-item v-for="i in 3" :key="i" :value="i">
            <v-container fluid>
              <v-row>
                <v-col
                  v-for="item in productStore.products"
                  :key="item.id"
                  cols="4"
                >
                  <v-hover v-slot="{ isHovering, props }">
                    <v-card
                      :elevation="isHovering ? 16 : 2"
                      :class="{ 'on-hover': isHovering }"
                      class="mx-auto"
                      max-width="344"
                      v-bind="props"
                      @Click="OrderStore.addNewOrderItem(item)"
                    >
                      <v-img height="200px" class="color"></v-img>
                      <v-card-item>
                        <div>
                          <div class="text-h7 mb-1">{{ item.name }}</div>
                          <div class="float-end text-subtitle-2">
                            {{ item.price }}
                          </div>
                        </div>
                      </v-card-item>
                    </v-card>
                  </v-hover>
                </v-col>
              </v-row>
            </v-container>
          </v-window-item>
        </v-window>
      </v-col>
    </v-row>
  </v-container>

  <ListOrder />
</template>
