<script setup lang="ts">
import { ref } from "vue";

const drawer = ref(true);
const rail = ref(true);
</script>
<template>
  <v-navigation-drawer
    v-model="drawer"
    :rail="rail"
    permanent
    @click="rail = false"
  >
    <v-btn
      variant="text"
      icon="mdi-chevron-left"
      @click.stop="rail = !rail"
    ></v-btn>

    <v-divider></v-divider>

    <v-list density="compact" nav>
      <v-list-item
        prepend-icon="mdi-home-city"
        title="Home"
        value="home"
        to="/"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-account"
        title="Point Of Sell"
        value="pos"
        to="/pos"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-food"
        title="Stock manager"
        value="product"
        to="/product"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-account"
        title="User"
        value="user"
        to="/user"
      ></v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>
